<!DOCTYPE html>
    <html>
        <head>
            <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
            <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script> 
            <meta charset="utf-8">
            <title>지도</title>
            
        </head>
    <body>
        <p style="margin-top:-12px"></p>
    <div id="map" style="width:350px;height:350px;"></div>

    <div>동물 병원</div>
    <script 
    type="text/javascript" 
    src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ff451025e6a49a350d94998d64c37028&libraries=services"></script>

    <script>

    // 마커를 클릭하면 장소명을 표출할 인포윈도우
    const infowindow = new kakao.maps.InfoWindow({zIndex:1});

    const mapContainer = document.getElementById('map'), // 지도를 표시할 div 
        mapOption = {
            center: new kakao.maps.LatLng(37.300008, 126.600040), // 지도의 중심좌표
            level: 2// 지도의 확대 레벨
        };  

    // 지도를 만듬
    const map = new kakao.maps.Map(mapContainer, mapOption); 

    // 장소 검색 객체를 생성합니다
    const ps = new kakao.maps.services.Places(map);


    //유저의 현재 위치 가져오기
    //위도 latitude/ 경도 longitude

    //success 
    navigator.geolocation.getCurrentPosition((position)=>{
        console.log(position.coords.latitude)
        console.log(position.coords.longitude)
        ps.keywordSearch('동물 병원', placesSearchCB, {
        location: new kakao.maps.LatLng(position.coords.latitude, position.coords.longitude)});
            

    })

    // 키워드 검색 완료 시 호출되는 콜백
    function placesSearchCB (data, status, pagination) {
        if (status === kakao.maps.services.Status.OK) {
            // for (let i=0; i<data.length; i++) {
            //     displayMarker(data[i]);    
            // }       
            var bounds = new kakao.maps.LatLngBounds()

            for( var i = 0; i< data.length; i++) {
                displayMarker(data[i])
                bounds.extend(new kakao.maps.LatLng(data[i].y, data[i].x))
            }
            map.setBounds(bounds)
        }
    }

    // 지도에 마커를 표시하는 함수
    function displayMarker(place) {
        // 마커를 생성하고 지도에 마
        const marker = new kakao.maps.Marker({
            map: map,
            position: new kakao.maps.LatLng(place.y, place.x) 
        });

        // 마커에 클릭이벤트를 등록합니다
        kakao.maps.event.addListener(marker, 'click', function() {
            // 마커를 클릭하면 장소명이 인포윈도우에 표출
            infowindow.setContent('<div style="padding:5px;font-size:12px;">' + place.place_name + '</div>');
            infowindow.open(map, marker);
        });
    }
    </script>
    </body>
    </html