<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
        integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <!-- axios cdn -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
</head>
<body>
    <button type="button" onclick="leader()">리더로 가입하기</button>
    <button type="button" onclick="crew()">크루로 가입하기</button> <br />
    <a href="/login">기존 회원 로그인</a>
</body>
    <script>
        async function leader(){
            const res = await axios({
                method: "POST",
                url: "/",
                data: {joinType: 'leader'}
            })
            console.log(res.data.result);
            window.location.href='/join'
        }
        async function crew(){
            const res = await axios({
                method: "POST",
                url: "/",
                data: {joinType: 'crew'}
            })
            console.log(res.data.result);
            window.location.href='/join'
        }
    </script>
    </script>
</html>