<!DOCTYPE html>
<html>
  <head>
    <!-- Toast UI Editor -->
    <link
      rel="stylesheet"
      href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css"
    />
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <style>
      .for:hover {
        background-color: white;
        border-radius: 3px;
        border-style: solid;
        border-width: 1px;
        box-sizing: border-box;
        border-color: #e4e7ee;
        cursor: pointer;
      }
      .basicDiv {
        width: 42px;
        height: 45px;
        color: black;
        box-sizing: border-box;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
      }
      .basicSmallDiv {
        width: 32px;
        height: 32px;
        color: black;
        box-sizing: border-box;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
      }
    </style>
  </head>

  <body>
    <div class="switch" style="display: none">
      <div id="editor"></div>
    </div>
    <button class="switcher" type="button" onclick="showWriter()">
      글쓰기
    </button>
    <script>
      const Editor = toastui.Editor;
      const editor = new Editor({
        el: document.querySelector('#editor'),
        height: '500px',
        initialEditType: 'markdown',
        previewStyle: 'vertical',
      });
      let div = document.createElement('div');
      let smallDiv = document.createElement('div');
      div.classList.add('basicDiv');
      smallDiv.classList.add('basicSmallDiv');
      div.classList.add('toast-editor-toolbar-group');
      smallDiv.innerHTML = `<i class="fa-solid fa-location-dot" style="font-size: 17px; color: #333"></i>`;
      smallDiv.classList.add('for');
      div.appendChild(smallDiv);
      smallDiv.addEventListener('mouseenter', () => {
        smallDiv.innerHTML += `<div class="toastui-editor-tooltip" style="display: block; top: 45px; margin-left: 15px">
      <div class="arrow"></div>
      <span class="text">Map</span>
    </div>`;
      });
      smallDiv.addEventListener('mouseleave', () => {
        smallDiv.innerHTML = space;
      });
      console.log(div);
      document
        .querySelector('.toastui-editor-defaultUI-toolbar')
        .insertBefore(
          div,
          document.querySelector('.toastui-editor-defaultUI-toolbar')
            .firstChild,
        );
      let space = smallDiv.innerHTML;
      console.log(document.querySelector('#editor').innerHTML);

      const showWriter = () => {
        if (document.querySelector('.switch').style.display == 'none') {
          document.querySelector('.switch').style.display = 'block';
          document.querySelector('.switcher').innerText = '취소';
        } else {
          document.querySelector('.switch').style.display = 'none';
          document.querySelector('.switcher').innerText = '글쓰기';
        }
      };
    </script>
  </body>
</html>
