<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/public/js/header.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/1a34eeff0c.js"crossorigin="anonymous"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous" ></script> -->
    <!-- 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Jua&family=Monoton&display=swap" rel="stylesheet">
    <!-- axios cdn -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- 부트스트랩cdn -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"rel="stylesheet"integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"crossorigin="anonymous"/>
    <link rel="stylesheet" href="/public/css/classMain.css" />
    <script src="/public/js/header.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>

    <style>
     .main {
        display: flex;
        flex-direction: row;
        height: 100%;
      }
      .right-bar {
        display: flex;
        flex-direction: column;
      }
      .square {
        width: 60px;
        height: 60px;
        background-color: red;
        border-radius: 10px;
        font-size: 15px;
      }
      .room {
        width: 100%;
        /* height: 100%; */
        background-color: lightgreen;
      }
      .chosen {
        background-color: skyblue;
      }
    </style>
  </head>
  <body>


    <div class="main_container">
      <div class="head1 d-flex justify-content-between">
        <div class="head1-logo "><img src="/public/default/logo-removebg.png" style="width: 30px; height: 30px;"></img><span>CLAVI</span></div>
        <i class="head1-profile fa-solid fa-user " data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" style="color: white; "></i>
          <!-- <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Toggle right offcanvas</button> -->
      </div>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"><i class="fa-solid fa-chalkboard-user"></i>  BOARD</a>
          
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa-solid fa-chair"></i>  SEAT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa-solid fa-comments"></i>  MESSAGE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa-solid fa-book"></i>  NOTE</a>
        </li>
      </ul>
      <div class="main_content">
        <div class="main">
          <div class="room"></div>
          <div class="right-bar">
            <button style="height: 50px" onclick="Unoccupate()">예약취소</button>
            <button style="height: 50px" onclick="reset()">리셋</button>
            <a href="/desk" onclick="return confirm('페이지를 벗어나시겠습니까?');"
              >돌아가기</a
            >
          </div>
          <ul class="data-list"></ul>
        </div>
      </div>
    </div>
    <div class="offcanvas offcanvas-end " tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasRightLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body ">
        <div class="profile_img"><img src="/public/default/모래성.png" style="width: 200px;"></div>
        <br />
        <div class="offcanvas-menu ">
          <div class="my_page btn">마이페이지</div>
          <div class="planner btn">플래너</div>
          
          <a class="btn" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            클래스 변경하기
          </a>
        
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">KDT 9기</a></li>
            <li><a class="dropdown-item" href="#">두환이네</a></li>
            <li><a class="dropdown-item" href="#">KDT 1기</a></li>
          </ul>
          <div class="logout btn" onclick="logout()">로그아웃</div>
        </div>
        
      </div>
    </div>



    <!-- <div class="main">
      <div class="room"></div>
      <div class="right-bar">
        <button style="height: 50px" onclick="Unoccupate()">예약취소</button>
        <button style="height: 50px" onclick="reset()">리셋</button>
        <a href="/desk" onclick="return confirm('페이지를 벗어나시겠습니까?');"
          >돌아가기</a
        >
      </div>
      <ul></ul>
    </div> -->
    <script>
      let whoAmI = '<%= name %>';
      let myType = '<%= userType %>';
      console.log(myType);
      let nowMap = '';
      const socket = io();

      if (myType == 'leader') {
        axios({
          method: 'GET',
          url: '/desk/get_generator',
        }).then((res) => {
          socket.emit('basicSetting', res.data);
          console.log('data', res.data);
          let ul = document.querySelector('.data-list');
          const { desk: data } = res.data;
          ul.innerHTML = '';
          if (!ul.hasChildNodes()) {
            for (let i = 0; i < data.length; i++) {
              let li = document.createElement('li');
              li.innerText = data[i].name;
              li.onclick = () => {
                socket.emit('confirmed', data[i].name);
              };
              li.style.cursor = 'pointer';
              ul.appendChild(li);
            }
          }
        });
      }

      const chairGenerator = (dataBase, li) => {
        console.log(dataBase);
        let num = 0;
        let specify = li;
        for (let i = 0; i < dataBase.length; i++) {
          if (dataBase[i].name == specify) {
            for (let j = 0; j < +dataBase[i].num; j++) {
              let square = document.createElement('div');
              let numbering = document.createElement('p');

              //책상번호 만들어주기
              num = dataBase[i].position[j].who.split('num')[1];
              numbering.innerText = num;

              //책상별 클래스 부여
              square.classList.add('square', dataBase[i].position[j].who);
              for (let a = 0; a < dataBase[i].chosen.length; a++) {
                if (
                  dataBase[i].chosen[a].which == dataBase[i].position[j].who
                ) {
                  square.classList.add('chosen');
                  numbering.innerText = dataBase[i].chosen[a].owner;
                }
              }
              numbering.style.marginTop = '-5px';
              square.appendChild(numbering);

              //포지션 부여
              square.style.cssText = `
                    top: ${dataBase[i].position[j].top}px;
                    left: ${dataBase[i].position[j].left}px;
                    position: absolute;
                    color: white;
                    font-size: 30px;
                    `;
              document.querySelector('.room').appendChild(square);
            }
          }
        }
      };

      const saveSetting = (data, name) => {
        let obj = {};
        let html = new DOMParser();
        html = html.parseFromString(data, 'text/html');
        obj.num = 0;
        obj.name = name;
        let chairList = html.children[0].children[1].children;
        chairList = Array.from(chairList);
        let chosen = [];
        let position = [];
        chairList.forEach((element) => {
          if (element.classList.contains('chosen')) {
            let chosenOne = {};
            chosenOne.name = name;
            chosenOne.owner = element.children[0].innerText;
            chosenOne.which = element.classList[1];
            chosen.push(chosenOne);
          }
          let positionOne = {};
          position.name = name;
          positionOne.who = element.classList[1];
          positionOne.top = element.style.top.slice(0, -2);
          positionOne.left = element.style.left.slice(0, -2);
          position.push(positionOne);
          obj.num += 1;
        });
        obj.chosen = chosen;
        obj.position = position;
        console.log(obj);
        return obj;
      };

      socket.on('show', (currentData, name) => {
        console.log(currentData);
        document.querySelector('.room').innerHTML = '';
        chairGenerator(currentData, name);
        nowMap = name;
        let limit = document.querySelector('.room').children.length;
        for (let j = 1; j <= limit; j++) {
          if (document.querySelector(`.num${j}`)) {
            let each = document.querySelector(`.num${j}`);
            each.onclick = () => {
              let selected = event.target.children[0].innerText;
              let str = '' + document.querySelector('.room').innerHTML;
              if (event.target.classList.contains('chosen') == false) {
                // 예약되지 않은 자리
                if (str.includes(whoAmI)) {
                  // 내가 예약을 이미 한 상태일 때
                  let confirm = window.confirm('해당 자리로 이동하시겠습니까?');
                  if (confirm) {
                    socket.emit('choose', selected, whoAmI);
                  }
                } else {
                  // 내가 예약을 하지 않은 상태일 때
                  console.log(selected);
                  console.log(whoAmI);
                  socket.emit('choose', selected, whoAmI);
                }
              } else {
                // 예약된 자리
                alert('해당자리는 이미 예약된 상태입니다');
              }
            };
          } else {
            limit++;
          }
        }
      });

      socket.on('confirmed', (data) => {
        nowMap = data.name;
        console.log('되나');
        socket.emit('saveState', [data], data.name);
      });

      socket.on('occupate', (num, name) => {
        if (whoAmI == name) {
          let is = '' + document.querySelector('.room').innerHTML;
          if (is.includes(name)) {
            // 변경
            for (
              let i = 0;
              i < document.querySelector('.room').children.length;
              i++
            ) {
              if (
                document
                  .querySelector('.room')
                  .children[i].children[0].innerText.includes(name)
              ) {
                let str =
                  document.querySelector('.room').children[i].children[0]
                    .innerText;
                str = str.split(': ' + name)[0];
                console.log(str);
                document.querySelector('.room').children[
                  i
                ].children[0].innerText = str;
                document
                  .querySelector('.room')
                  .children[i].classList.remove('chosen');
                break;
              }
            }
          }
          console.log(num);
          console.log(name);
          let each = document.querySelector(`.num${num}`);
          each.classList.add('chosen');
          each.children[0].innerText += `: ${name}`;
          let data = saveSetting(
            document.querySelector('.room').innerHTML,
            nowMap,
          );
          console.log(data);
          socket.emit('saveState', [data], nowMap);
          socket.emit('dataPush', data);
          dbSave(1);
        }
      });

      const Unoccupate = () => {
        let is = '' + document.querySelector('.room').innerHTML;
        if (is.includes(whoAmI)) {
          const confirm = window.confirm('자리 예약을 취소하시겠습니까?');
          if (confirm) {
            for (
              let i = 0;
              i < document.querySelector('.room').children.length;
              i++
            ) {
              if (
                document
                  .querySelector('.room')
                  .children[i].children[0].innerText.includes(whoAmI)
              ) {
                let str =
                  document.querySelector('.room').children[i].children[0]
                    .innerText;
                str = str.split(': ' + whoAmI)[0];
                console.log(str);
                document.querySelector('.room').children[
                  i
                ].children[0].innerText = str;
                document
                  .querySelector('.room')
                  .children[i].classList.remove('chosen');
                let data = saveSetting(
                  document.querySelector('.room').innerHTML,
                  nowMap,
                );
                dbSave(0);
                socket.emit('saveState', [data], nowMap);
                socket.emit('dataPush', data);
                break;
              }
            }
          }
        } else {
          alert('예약된 자리가 없습니다');
        }
      };

      const dbSave = async (e) => {
        let proto = document.querySelector('.room').innerHTML;
        let title = nowMap;
        let data = saveSetting(proto, title);
        let res = await axios({
          method: 'PATCH',
          url: '/desk/reservationEdit',
          data: data,
        });
        if (res.data == '성공') {
          if (e == 1) {
            alert('자리 예약에 성공하셨습니다');
          } else {
            alert('예약 취소에 성공하셨습니다');
          }
        } else {
          if (e == 1) {
            alert('자리 예약에 실패하셨습니다');
          } else {
            alert('예약 취소에 실패하셨습니다');
          }
        }
      };

      const reset = () => {
        document.querySelector('.room').innerHTML = '';
        nowMap = '리셋';
        let data = saveSetting(
          document.querySelector('.room').innerHTML,
          nowMap,
        );
        socket.emit('saveState', [data], nowMap);
        socket.emit('dataPush', data);
      };
    </script>
  </body>
</html>
