.main_content {
  position: relative;
 display: flex;
 height: 85%;
}
::-webkit-scrollbar {
  display: none;
}

/* 게시글 관련 */
.board-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  height: 100%;
  }
  
.board-object {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
  }

.boardLike , .board-delete{
  padding: 10px 20px;
  background-color: #4993fa;
  color: white;
  border: none;
  border-radius: 5px;
}

.boardLike:hover, .board-delete:hover{
  background-color: #337ab7;
}
.board-high{
  display: flex;
  justify-content: space-evenly;
}
.board-mid{
  display: flex;
  justify-content: space-evenly;
}
.board-bottom {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
}

/* 코멘트 관련  */
.comment-container {
  width: 33%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.comment-main {
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}
.comment-object {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  background-color: white;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.commet-high{
  display: flex;
  justify-content: space-evenly;
}

.board-comment {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.commentbutton{
  padding: 10px 20px;
  background-color: #4993fa;
  color: white;
  border: none;
  border-radius: 5px;
}
.commentbutton:hover{
  background-color: #337ab7;
}

.deleteButton {
  width: 5%;
  height: 10%;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px 20px;
  background-color: #4993fa;
  color: white;
  border: none;
  border-radius: 5px;
  justify-self: end;
}
.deleteButton:hover {
  background-color: #337ab7;
}