@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "S-CoreDream-3Light", sans-serif; /* 폰트를 적용합니다. */
  /* 다른 스타일 속성을 추가할 수 있습니다. */
}
.board-title{
  font-size: large;
  font-weight: 700;
}

.board-writer,.comment-writer{
  font-weight: 600;
  font-size: small;
}


.board-date{
    font-weight: 200;
    font-size: x-small;
    right: 0;
    position: absolute;
  }

.comment-date{
  font-weight: 200;
  font-size: x-small;
}

.board-content{
  font-size: medium;
  font-weight: 600;
}

.board-tag{
  font-size: small;
  font-weight: 700;
}

.main_content {
  position: relative;
 display: flex;

}
::-webkit-scrollbar {
  display: none;
}

.board-writer-img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

/* 게시글 관련 */
.board-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  height: 100%;
  padding: 20px;
  }
  
.board-object {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
  }

.boardLike , .board-delete{
  padding: 10px 20px;
  background-color: #4993fa;
  color: white;
  border: none;
  border-radius: 5px;
}

.boardLike:hover, .board-delete:hover{
  background-color: #337ab7;
}
.board-high{
  display: flex;
}
.board-mid{
  display: flex;
  position: relative;
  align-items: center;
}
.board-bottom {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}
.bottom-button{
  position: absolute;
  bottom: 0;
  right: 20px;
}

/* 코멘트 관련  */
.comment-container {
  width: 33%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  padding : 20px 20px 30px 20px
}
.comment-main {
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}
.comment-object {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  background-color: white;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.commet-high{
  display: flex;
  justify-content: space-evenly;
}

.board-comment {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.commentbutton{
  height: 4vh;
  padding: 10px 20px;
  background-color: #4993fa;
  color: white;
  border: none;
  border-radius: 5px;
}
.commentbutton:hover{
  background-color: #337ab7;
}

.deleteButton {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #4993fa;
  color: white;
  border: none;
  border-radius: 5px;
  justify-self: end;
}
.deleteButton:hover {
  background-color: #337ab7;
}