.main_content {
  display: flex;
}


/* 게시글 관련 */
.board-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
  }
  
.board-object {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
  }

/* 버튼 모음 */
.board-button, .board-delete,.deleteButton ,.boardLike,.commentbutton {
    padding: 10px 20px;
    background-color: #4993fa;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .board-button:hover, .board-delete:hover,.deleteButton:hover , .boardLike:hover , .commentbutton:hover{
    background-color: #337ab7;
  }
