@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "S-CoreDream-3Light", sans-serif; /* 폰트를 적용합니다. */
  /* 다른 스타일 속성을 추가할 수 있습니다. */
  overflow: overlay;
}

.board-title{
  font-size: x-large;
  font-weight: 700;
}

.board-writer{
  font-weight: 600;
  font-size: small;
}


.board-date{
  font-weight: 200;
  font-size: x-small;
  right: 10px;
  position: absolute;
}

.board-content{
  font-size: medium;
  font-weight: 600;
}

.board-tag{
  font-size: x-small;
  font-weight: 700;
}
.board-writer-img {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

.main_content {
  position: relative;
 display: flex;
}

/* 옆에 뜨는 검색창 게시판 헤더 관련 */
.board-hearder{
  width: 20%;
  position: relative;
  height: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  border-radius: 20px;
}
/* 검색창 관련 */
.search-bar {
  height: 4vh;
  display: flex;
  font-size: xx-small;
}
.search-button {
  background-color: #4993fa;
  color: white;
  border: none;
  border-radius: 5px;
}
#search_select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.search-button:hover {
  background-color: #4993fa;
}

/* 게시판 리스트관련 */
.subject-object {
  font-weight: 700;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 5px;
  margin-top: 5px;
}
.subject-object:hover {
  background-color:#ccc;
}

/* 게시글 추가  폼관련 */
.subject-List {
  height: 4vh;
    display: flex;
    font-size: xx-small;
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
}
.subject-button{
  background-color: #4993fa;
  color: white;
  border: none;
  border-radius: 5px;
}

/* 게시글 관련 */
.board-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.board-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: auto;
}
::-webkit-scrollbar {
  display: none;
}
  
.board-object {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    margin-bottom: 10px;
  }

.board-object:hover {
    background-color: #f5f5f5;
  }

.boardLike {
  padding: 10px 20px;
  background-color: #4993fa;
  color: white;
  border: none;
  border-radius: 5px;
}
.boardLike:hover{
  background-color: #337ab7;
}
.board-high{
  display: flex;
}
.board-mid{
  display: flex;
  position: relative;
  align-items: center;
}
.board-bottom {
  display: flex;
  justify-content: space-between;
}


/* 작성창 관련 */
#btn-modal {
  width: 70%;
  height: 40px;
  margin-bottom: 10px;
  background-color: white;
  color: gray;
  border: none;
  border-radius:10px;
}

.modal-window {
  position: relative;
}

.modal-input {
  height: 4vh;
  display: flex;
  font-size: xx-small;
}

.tag-object{
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  background-color: white;
  display: flex;
}
.write-tag-bar{
  height: 3vh;
  display: flex;
}
#editor {
  height: 90%;
}
.board-onWrite, .board-tag-add {
    padding: 10px 20px;
    background-color: #4993fa;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
.board-onWrite:hover, .board-tag-add:hover {
    background-color: #337ab7;
  }

/* 인풋 박스 모음 */
input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
  }

/* 모달관련 */
#modal.modal-overlay {
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
}
.modal-window {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 65%;
}

