@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "S-CoreDream-3Light", sans-serif; /* 폰트를 적용합니다. */
  /* 다른 스타일 속성을 추가할 수 있습니다. */
}

.profile_img_div {
  display: flex;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
}
.profile_img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: rgb(128, 128, 128, 0.14);
}

.img-save {
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
}

#dynamic {
  width: 170px;
}

.profile-detail {
  margin: 20px 10px;
}

#profile-form {
  display: flex;
  flex-direction: column;
}

input {
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: rgb(218, 217, 217);
}

#editbutton {
  border-style: solid;
  /* border-width: 0px 0px 1px 0px; */
  border-color: rgb(218, 217, 217);
}

button {
  border-style: solid;
  /* border-width: 0px 0px 1px 0px; */
  border-color: rgb(218, 217, 217);
}

.main_content {
  overflow: auto;
  padding: 20px 40px;
  display: grid;
  grid-template-areas:
    "class userinfo memo"
    "class userinfo memo"
    "class userinfo board"
    "exit userinfo board";
  /* align-items: stretch; */
  /* justify-content: stretch; */

  /* grid-template-columns: 200px 200px 500px; */
  grid-template-columns: 1fr 2fr 2fr;
  /* grid-template-columns: repeat(3, 1fr) */
  /* grid-template-columns: 200px 1fr */
  /* grid-template-columns: 100px 200px auto */

  /* grid-template-rows: 200px 200px 500px; */
  /* grid-template-rows: 1fr 1fr 1fr */
  /* grid-template-rows: repeat(3, 1fr) */
  /* grid-template-rows: 200px 1fr */
  /* grid-template-rows: 100px 200px auto */

  gap: 10px 20px;
  /* row-gap: 10px; column-gap: 20px; */
}

.itemM {
  border-radius: 10px;
  background-color: white;
  /* padding: 5px; */
  position: relative;
}
.itemIndex {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #9ac5f4;
  color: white;
  border-radius: 10px 10px 0 0;
  padding: 5px;
  text-align: center;
  height: 32px;
  font-size: 15px;
}
.itemBody {
  position: absolute;
  top: 32px;
  width: 100%;
  height: calc(100% - 32px);
}
.class_list {
  grid-area: class;
  padding: 0;
  position: relative;
  justify-content: center;
}

.classes {
  padding: 5px;
}
.class-make {
  position: absolute;
  bottom: 0px;
  padding: 5px;
  width: 100%;
  background-color: #ffeebb88;
}
.class-make-btn {
  width: 100%;
  display: flex;
  justify-content: center;
}
.class-name {
  cursor: pointer;
  padding: 2px;
  margin: 2px 0px;
}
.class-name:hover {
  background-color: #ffeebb88;
}
#setClassName {
  text-align: center;
}
#makeNotice {
  text-align: center;
  font-size: 10px;
  color: red;
}
.modal-body {
  font-size: medium;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.exit-zone {
  grid-area: exit;
  background-color: #9ac6f400;
}
.userbtn {
  position: absolute;
  bottom: 5px;
}

.userInfo {
  grid-area: userinfo;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.user-content {
  position: absolute;
  top: 35px;
  height: min-content;
  width: 100%;
  font-size: small;
}
#profile-form {
  padding: 5% 10%;
}

.my-note {
  grid-area: note;
}

.memo-zone {
  grid-area: memo;
  overflow: hidden;
}

.myBoards {
  grid-area: board;
  overflow: auto;
}

.board-object {
  padding: 10px;
  margin: 5px 10px;
  border-radius: 5px;
  background-color: #f1fafb;
}
.board-high {
  display: flex;
  align-items: center;
}
.board-class {
  background-color: #4993fa;
  width: 15px;
  height: 15px;
  font-weight: 600;
  color: white;
  border-radius: 5px;
  text-align: center;
}

.board-high > * {
  margin: 5px;
  background-color: #9ac5f445;
  padding: 5px;
  border-radius: 5px;
}

.board-date.like-count {
  font-size: small;
}
